# Python
venv/
__pycache__/
*.pyc

# Node / React
node_modules/
dist/
.env

# Mac system files
.DS_Store

# Uploads
backend/uploads/
backend/venv/
frontend/node_modules/
frontend/dist/
backend/uploads/
__pycache__/
*.pyc
.DS_Store
# Ignore uploaded slides
uploads/

# Ignore generated heatmaps
heatmaps/
tiles/
slides_metadata.json
