.magnifier {
  position: fixed;
  pointer-events: none;
  width: 75px;
  height: 75px;
  border: 2px solid rgba(255, 255, 255, 0.6); /* visible edge */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
  z-index: 9999;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  display: none;
  transition: transform 0.05s ease-out;
  backdrop-filter: none;
}
